.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 3vw; */

  /* margin-top: 50px;
  margin-bottom: 80px; */

  /* position: relative;
  width: 80vw;
  height: auto; */

  padding: 30px 50px;
  margin: 50px auto 80px;
  position: relative;
  width: 80%;
  /* border-radius: 16px; */
  background-color: white;
  border: 2px solid #1B1B1B;
  box-shadow: 6px 6px 0px #1B1B1B;
  border-radius: 8px;
  max-width: 1000px;
}


.checkout {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  justify-content: end;
}


.checkout h1 {
  font-weight: 800;
  border-bottom: 3px solid rgb(194, 105, 3);

}


.total_price h3 {
  font-weight: 1000;
}


.fa-coins {
  font-size: 17px;
  color: rgb(194, 105, 3);
}


.enter_details {
  margin-top: 20px;
}


.enter_details i {
  color: rgb(194, 105, 3);
  margin-bottom: 5px;
  font-size: 20px;
}


.personal_data {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Spazio tra gli elementi */
  width: 100%;
}


.personal_data label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.personal_data input {
  padding-left: 5px;
}


textarea:focus,
input:focus {
  outline: none;
  background: orange;
  border: 3px solid #1B1B1B;
  border-radius: 16px;
}

/********************************
   stripe rules
*********************************/

.stripe-form {
  width: 100%;
}

.pagamento {
  background-color: orange;
  border: 2px solid #1B1B1B;
  border-radius: 16px;
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  <<<<<<< HEAD margin-left: 800px;
  width: 150px;
  =======>>>>>>>e4d41e6e7357fdf0f038fd0d288834ff9a1d8854 height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: auto;
}


.pagamento:hover {
  background: #FFBB38;
  box-shadow: 0px 0px 0px 4px #C1BFFA;
}

/* .StripeElement {
  width: 100%;
} */


.payment-status {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

/* Messaggio di successo */
.payment-status.success {
  background-color: #28a745;
  /* Verde */
  color: white;
  border: 1px solid #218838;
}

/* Messaggio di errore */
.payment-status.error {
  background-color: #dc3545;
  /* Rosso */
  color: white;
  border: 1px solid #c82333;
}

/* Animazione di apparizione */
.payment-status.success,
.payment-status.error {
  animation: fadeIn 1s ease-out, slideUp 0.5s ease-out;
}

/* Animazione per far sparire il messaggio dopo un certo tempo */
.payment-status.success.fade-out,
.payment-status.error.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

/* Definire l'animazione */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width:1000px) {
  .checkout-container {
    width: 90%;
    padding: 30px 30px;
  }

  .personal_data {
    gap: 30px;
  }

  .personal_data input {
    width: 180px;
    height: 35px;
  }
}

@media screen and (max-width:768px) {
  .personal_data input {
    width: 210px;
    height: 35px;
  }

  .personal_data {
    gap: 15px;
  }
}

@media screen and (max-width:576px) {
  .checkout-container {
    width: 95%;
    padding: 10px 10px;
  }

  .personal_data input {
    width: 180px;
    height: 35px;
  }

}