.general-container {
    width: 70%;
    margin: 0 auto;
    /* background-color: aqua; */
    /* text-align: center; */
    padding-top: 60px;
}

.general-container section {
    margin-bottom: 50px;
}

.general-container section h2 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    /* Colore acceso per risaltare */
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(94, 10, 173);
    /* Linea inferiore colorata */
    text-shadow: 3px 3px 5px rgba(65, 63, 62, 0.6);
    /* Effetto luce */
    letter-spacing: 2px;
    position: relative;
}


/* CSS PER CardHomePage.jsx */
.container-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 50px 0;
    height: 430px;
    margin-bottom: 100px;
    position: relative;
}

.div-1 {
    width: 70%;
    /* border: 1px solid black; */
}

.div-2 {
    width: 30%;
    /* border: 1px solid black; */
    text-align: center;

}

.bundle-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.game-img {
    width: 65%;
    object-fit: contain;
    margin-top: 40px;
}

.game-img2 {
    width: 50%;
    object-fit: contain;
    margin-top: 40px;
}

.bundle-img2 {
    height: 110%;
    width: 100%;
    object-fit: contain;
}

.bundle-img,
.bundle-img2,
.game-img,
.game-img2 {
    transition: transform 0.4s ease;
}

.bundle-img:hover,
.bundle-img2:hover,
.game-img:hover,
.game-img2:hover {
    transform: translateY(-10px);
}

.bundle-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c0806;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.container-text {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.container-text2 {
    position: absolute;
    bottom: 20px;
    left: 0;
}

/* CSS PER LE SEZIONI NewReleasedList.jsx e TrendList.jsx */

/* GESTIONE SEZIONE TENDENZE */
.container-img {
    width: 250px;
    height: 360px;
}

.img-gioco {
    width: 100%;
    height: 100%;
    /* Assicurati che l'immagine riempia l'intero contenitore */
    border-radius: 10px;
    object-fit: cover;
    /* L'immagine coprirà l'intero contenitore senza deformarsi */
    object-position: cover;
    transition: transform 0.4s ease;
}

.img-gioco:hover {
    transform: scale(1.05);
}

.container-trend-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    transition: transform 0.6s ease-out;
}

/* Animazione di scorrimento fluido per le immagini */
@keyframes smoothSlideIn {
    0% {
        transform: translateX(50px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.container-trend {
    /* background-color: rgba(128, 128, 128, 0.356); */
    position: relative;
    padding: 5px;
    border-radius: 10px;
}

/* GESTIONE BTN PREV E NEXT */
.next-btn,
.prev-btn {
    position: absolute;
    font-size: 30px;
    border: none;
    top: 0;
    opacity: 0.2;
    background-color: rgba(128, 128, 128, 0);
    height: 100%;
    border-radius: 10px;
    transition: transform 0.4s ease;
}

.next-btn {
    right: 0;
}

.prev-btn {
    left: 0;
}

.next-btn:hover,
.prev-btn:hover {
    opacity: 1;
    transform: scale(1.1);
}