.general-container {
    width: 70%;
    margin: 0 auto;
    /* background-color: aqua; */
    /* text-align: center; */
    padding-top: 20px;
}

.general-container section {
    margin-bottom: 50px;
}

.title-h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 25px;
    text-shadow: 3px 3px 5px rgba(65, 63, 62, 0.6);
    letter-spacing: 2px;
    position: relative;
    z-index: 20;
}

.black-title {
    color: #333333;
}

.general-container section a {
    text-decoration: none;
}

/* GESTIONE NAVIGAZIONE HOME PAGE */
@keyframes expandBackground {
    from {
        width: 65%;
    }

    to {
        width: 100%;
    }
}

.container-navigator-icons {
    width: 65%;
    margin: 0 auto;
    background-color: #666666;
    padding: 20px 20px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    transition: transform 0.5s ease;
}

.container-navigator-icons a {
    text-decoration: none;
    color: white;
}

.container-navigator-icons:hover {
    animation: expandBackground 0.5s forwards;
}

.container-navigator-icons button,
a {
    padding: 10px 18px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255, 0);
    border: none;
    transition: transform 0.5s ease;
}

.container-navigator-icons button a:hover {
    background-color: rgba(255, 255, 255, 0.747);
    transform: scale(1.2);
    color: black;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    /* Dispone gli item in colonna */
    margin-top: 8px;
    padding: 0;
    list-style-type: none;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
    z-index: 1;
}

.dropdown-item {
    padding: 12px 20px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

/* CSS PER CardHomePage.jsx */
.container-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 50px 0;
    height: 430px;
    margin-bottom: 100px;
    position: relative;
}

.div-1 {
    width: 70%;
    /* border: 1px solid black; */
}

.div-2 {
    width: 30%;
    /* border: 1px solid black; */
    text-align: center;

}

.bundle-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.game-img {
    width: 65%;
    object-fit: contain;
    margin-top: 40px;
}

.game-img2 {
    width: 50%;
    object-fit: contain;
    margin-top: 40px;
}

.bundle-img2 {
    height: 110%;
    width: 100%;
    object-fit: contain;
}

.img-nintendo,
.bundle-img,
.bundle-img2,
.game-img,
.game-img2 {
    transition: transform 0.5s ease;
}

.img-nintendo:hover,
.bundle-img:hover,
.bundle-img2:hover,
.game-img:hover,
.game-img2:hover {
    transform: translateY(-40px);
}

.bundle-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #0c0806;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.container-text {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.container-text2 {
    position: absolute;
    bottom: 20px;
    left: 0;
}

/* CSS PER i caroselli home page  */

.container-img {
    width: 250px;
    height: 330px;
}

.img-gioco {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.img-gioco:hover {
    transform: scale(1.05);
}


.container-trend-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    transition: transform 1s ease-in-out;
    /* Transizione più fluida */
    will-change: transform;
    scroll-behavior: smooth;
    /* Effetto scorrimento fluido */
}

/* Animazione di scorrimento fluido per le immagini */
@keyframes infiniteScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.container-trend-cards .container-img {
    animation: smoothSlide 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.container-trend {
    /* background-color: rgba(128, 128, 128, 0.356); */
    position: relative;
    padding: 5px;
    border-radius: 10px;
}

/* GESTIONE BTN PREV E NEXT */
.next-btn,
.prev-btn {
    position: absolute;
    font-size: 30px;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    z-index: 20;
}

.next-btn {
    right: 0;
}

.prev-btn {
    left: 0;
}

.next-btn:hover,
.prev-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%) scale(1.2);
}

/* SFONDO PLAYSTATION GAMES LIST*/

/* REGOLE BG GENERALI  */
.bg-play,
.bg-xbox,
.bg-nintendo {
    padding-bottom: 30px;
    background-repeat: no-repeat;
    position: relative;
}

/* REGOLE BG XBOX */
.bg-xbox::before,
.bg-xbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-xbox::before {
    background-image: url('../bg-xbox-games.jpg');
    background-size: cover;
    /* Applica l'effetto inclinato */
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.bg-xbox::after {
    background-color: rgba(0, 0, 0, 0.4);
    /* Applica l'effetto inclinato */
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

/* REGOLE BG PLAYSTATION */
.bg-play::before,
.bg-play::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-play::before {
    background-image: url('../bg-playstation-section.jpg');
    background-size: cover;
    /* Applica l'effetto inclinato */
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.bg-play::after {
    background-color: rgba(0, 0, 0, 0.4);
    /* Applica l'effetto inclinato */
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);

}

/* REGOLE BG NINTENDO  */
.bg-nintendo::before,
.bg-nintendo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: 20px;
}

.bg-nintendo::before {
    background-image: url('../bg-nintendo.jpg');
    background-size: cover;
    background-position: center;
    /* Applica l'effetto inclinato */
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

.bg-nintendo::after {
    background-color: rgba(0, 0, 0, 0.4);
    /* Applica l'effetto inclinato */
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}


/* SEZIONE NINTENDO ITEMS */
.container-nintendo-items {
    display: flex;
    flex-direction: column;

    padding: 0 70px;
    gap: 10px;
    /* debug */
    /* background-color: pink; */
}

.img-nintendo {
    width: 450px;
}

.box-nintendo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-details-nintendo h4 {
    font-size: 26px;
    font-weight: 700;
    color: #333;
    /* Grigio scuro */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
}

.container-details-nintendo h4:hover {
    transform: scale(1.05);
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.container-details-nintendo span {
    font-size: 20px;
    font-weight: bold;
    color: #555;
    /* Grigio antracite */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 8px 0;
}

.container-details-nintendo a button {
    background: #ffc107;
    /* Grigio scuro */
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}

.container-details-nintendo a button:hover {
    background: #ffc107;
    transform: scale(1.1);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.container-details-nintendo a .btn-pink {
    background-color: #e78c8f;
}

.container-details-nintendo a .btn-pink:hover {
    background: #e78c8f;

}

.container-details-nintendo a .btn-blue {
    background-color: #4d59a0;
}

.container-details-nintendo a .btn-blue:hover {
    background: #4d59a0;

}