.carousel-caption {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.leftContainer {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;
}

.container-details-jumbo {
    font-size: 15px;
    font-weight: 600;
    margin: auto 0;
    width: 300px;
}

.container-details-jumbo button {
    margin-top: -35px;
}

.container-details-jumbo h4 {
    margin-bottom: 15px;
    font-weight: 900;
}

.bgText,
.bgLogo {
    background-color: rgba(255, 255, 255, 0.288);
    border-radius: 10px;
}

/* REGOLE LOGO NEL JUMBOTRON */
.nintendoLogo,
.xbox-logo,
.logoPlay {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 85px;
    margin: 0 auto;
}

.nintendoLogo {
    background-image: url('../logo/Nintendo-Logo.png');
}

.xbox-logo {
    background-image: url('../logo/Xbox_2019_horizontal.svg');
}

.logoPlay {
    background-image: url('../logo/PlayStation_logo.svg');

}

/* REGOLE BUTTON JUMBOTRON */
.redButton {
    background-color: rgb(194, 13, 13);
    border: rgb(194, 13, 13);
}

.yellowBtn,
.greenBtn,
.redButton,
.animationButton {
    transition: transform 0.5s ease;
    font-weight: 900;
}

.yellowBtn:hover,
.greenBtn:hover,
.redButton:hover,
.animationButton:hover {
    transform: scale(1.1);
}

.redButton:hover {
    background-color: rgb(224, 60, 60);
    border: rgb(224, 60, 60);
}

.greenBtn {
    background-color: green;
    border: green;
}

.greenBtn:hover {
    background-color: rgb(6, 180, 6);
    border: rgb(6, 180, 6);
}

.yellowBtn {
    background-color: #ffc107;
    border: #ffc107;
}

.yellowBtn:hover {
    background-color: #ffc107;
    border: #ffc107;
}

.blackText {
    color: black;
    font-weight: 900;
}

/* VERSIONE LAPTOP PICCOLO */
@media screen and (max-width: 1000px) {
    .container-details-jumbo p {
        display: none;
    }

    .container-details-jumbo h4 {
        font-size: 16px;
    }

    .container-details-jumbo button {
        margin-top: -40px;
        font-size: 12px;
    }

}

@media screen and (max-width: 831px) {

    .container-details-jumbo h4 {
        font-size: 13px;
    }

    .container-details-jumbo .logoPlay,
    .xbox-logo {
        width: 100px;
    }

    .container-details-jumbo .bgLogo {
        padding: 0px;
    }

    .container-details-jumbo button {
        font-size: 12px;
    }

    .leftContainer {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .container-details-jumbo p {
        display: none;
    }
}

/* VERSIONE MOBILE */
@media screen and (max-width: 550px) {
    .container-details-jumbo p {
        display: inline;
        font-size: 14px;
        line-height: -30px;
    }

    .container-details-jumbo button {
        margin-top: 8px;
        font-size: 12px;
    }

    .containerTop {
        padding-bottom: 14rem;
        justify-content: center;
        margin-right: 0;
    }

    .containerBottom {
        align-items: baseline;
        padding-top: 14rem;
        justify-content: center;
        margin-right: 0;
    }

    .leftContainer {
        height: 100%;
        text-align: center;
        display: flex;
        margin-top: 50px;
        justify-content: center;
        height: 100%;
        padding-top: 14rem;
        margin-right: 0;
    }
}