.container-search-page {
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

.container-results {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.card-result div {
    width: 300px;
}

.card-result div img {
    width: 100%;
    object-fit: cover;
}