.image-small {
    width: 65%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    width: 100%;
}

.card-text {
    font-size: 2em;
    background-color: yellow;
    width: 40%;
    padding: 9px;
    text-align: center;
}

.card-body-left {
    width: 60%;
    border: 1px solid black;
    padding: 2em;
}

.card-body-right {
    border: 1px solid black;
    padding: 2em;
}

.card-right-img {
    width: 100%;
    height: 50%;
}

.total-price {
    width: 300px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;
}

.centered-price {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.shipping-free {
    color: gray;
}

.available {
    width: 300px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 5px;
}

.not-available {
    width: 300px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px;
}

.add-cart {
    width: 300px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px;
}

.pegi-image {
    width: 75px;
    height: auto;
    margin-top: 5px;
    display: inline-block;
    margin-left: 15px;
}

.card-title {
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
}

.inline {
    display: inline-block;
    margin-right: 25px;
}